<div class="panel-default">
    <div class="panel-body">
        <img class="img-responsive" ui-sref=".dashboard" uib-tooltip="Go to Dashboard" tooltip-placement="bottom"
             tooltip-append-to-body="true" ng-click="setLeftNavId(0)" style="height: 100px; cursor: pointer; float: left;" width="300" height="100" src="../Images/Align_Logo.PNG" />
        <div style="float: right; font-size: large;margin-top:20px">
            <div style="margin-right: 5px; pointer-events: none; background-color: #ffc00e; border-color: #ffc00e; " class="btn btn-info glyphicon glyphicon-user">
                <span style="font-family: 'Open Sans'">Hi, {{userName}}</span>
            </div>
            <div ui-sref=".logout" style="background-color: #ffc00e; border-color: #ffc00e; " class="btn btn-info glyphicon glyphicon-log-out">
                <span style="font-family: 'Open Sans'">Logout</span>
            </div>
          
        </div>
        
    </div>
    

</div>

<div class="container-fluid">
    <div class="row">
        <button type="button" class="navbar-toggle navbar-custom" data-toggle="collapse" id="leftNavBtn" data-target="#leftNav">
            <span class="icon-bar" style="background-color: #fff;"></span>
            <span class="icon-bar" style="background-color: #fff;"></span>
            <span class="icon-bar" style="background-color: #fff;"></span>
        </button>            

        <div id="leftNav" class="col-sm-3 col-md-3 col-lg-3 collapse navbar-collapse">
            <div class="panel panel-default" style="border:0px">                
                <div class="panel-body">
                    <div ng-repeat="navtile in navigation.home">
                        <navigation nav="{{navtile.tile}}"
                                    id="{{navtile.id}}"                                    
                                    tooltip="{{navtile.tooltip}}"                                    
                                    name="{{navtile.name}}"
                                    selected-tile="{{leftNavId}}">
                        </navigation>
                    </div>
                </div>
            </div>
        </div>       
        
        <div ui-view="" />
        <!--<div ng-if="leftNavId==0" onload="endProgress($event)" ng-include="'Templates/Dashboard.html'"></div>--> 
        <span style="float:left;margin-left:auto">{{status}}</span>

    </div>



</div>