<div ng-controller="dashboardController">

    <div class="col-sm-4 col-md-4 col-lg-4 fade-in-out " ng-show="signUpInfo1">
        <company-info name="{{jsonData.company.info.name}}"
                      building="{{jsonData.company.info.building}}"
                      address="{{jsonData.company.info.address}}"
                      btntext="{{btnCompanyInfo}}"
                      edit="editCompanyInfo">
        </company-info>
    </div>

        <div class="col-sm-4 col-md-4 col-lg-4 fade-in-out" ng-show="signUpInfo1">
            <div class="panel panel-default panel-company" style="overflow:auto">
                <div class="panel-body">
                    <div class="panel-header">
                        Company Contact
                    </div>


                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="true" is-disabled="false">
                            <uib-accordion-heading>
                                <i ng-click="toggleMenuStatus(0)" class="pull-right glyphicon" style=" color: #ffc00e;" ng-class="{'glyphicon-minus-sign': menuStatus[0].isOpen , 'glyphicon-plus-sign': !menuStatus[0].isOpen }"></i>
                                <h4 ng-click="toggleMenuStatus(0)" style="font-style:italic;padding:1px 15px">Primary Contact</h4>
                                
                            </uib-accordion-heading>
                            <company-contact name="{{jsonData.company.contact.primary.name}}"
                                             mail="{{jsonData.company.contact.primary.mail}}"
                                             phone="{{jsonData.company.contact.primary.phone}}"
                                             fax="{{jsonData.company.contact.primary.fax}}"
                                             type="Primary"
                                             btntext="{{btnContactPrimary}}"
                                             edit="editContactPrimary"></company-contact>
                        </div>

                        <div uib-accordion-group class="panel-default" is-open="false" is-disabled="false" ng-if="jsonData.company.contact.secondary!=undefined">
                            <uib-accordion-heading>
                                <i ng-click="toggleMenuStatus(1)" class="pull-right glyphicon" style=" color: #ffc00e;" ng-class="{'glyphicon-minus-sign': menuStatus[1].isOpen , 'glyphicon-plus-sign': !menuStatus[1].isOpen }"></i>
                                <h4 ng-click="toggleMenuStatus(1)" style="font-style:italic;padding:1px 15px">Secondary Contact</h4>
                            </uib-accordion-heading>
                            <company-contact name="{{jsonData.company.contact.secondary.name}}"
                                             mail="{{jsonData.company.contact.secondary.mail}}"
                                             phone="{{jsonData.company.contact.secondary.phone}}"
                                             fax="{{jsonData.company.contact.secondary.fax}}"
                                             type="Secondary"
                                             btntext="{{btnContactSecondary}}"
                                             edit="editContactSecondary"></company-contact>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <span class="glyphicon glyphicon-chevron-right" style=" color: #ffc00e; position: absolute; right: 0; cursor: pointer; z-index: 1; margin-top: 56%;" ng-click="setSignUpInfo(2)"></span>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 fade-in-out" ng-show="!signUpInfo1">
            <span class="glyphicon glyphicon-chevron-left" style=" color: #ffc00e; position: absolute; left: 0; margin-top: 56%; cursor: pointer; z-index: 1;" ng-click="setSignUpInfo(1)"></span>
            <div class="panel panel-default panel-company">
                <div class="panel-body">
                    <div class="panel-header">
                        Company Account
                    </div>

                    <div class="panel-info" style="margin-top:20px;">
                        <p>Username</p>
                        <h4>{{jsonData.company.account.username}}</h4>
                        <br />
                        <p>Password</p>
                        <h4>********</h4>
                        <br />

                        <button class="btn btn-login btn-edit">Edit</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 fade-in-out" ng-show="!signUpInfo1">
            <div class="panel panel-default panel-company">
                <div class="panel-body">
                    <div class="panel-header">
                        Payment
                    </div>

                    <div class="panel-info" style="margin-top:40px;">
                        <h4>{{jsonData.company.payment.msg}}</h4>
                        <br /><br />
                        <img class="img-responsive" style="float:left;margin-right:7px" src="../Images/visa.PNG" />
                        <h4>**** **** **** {{jsonData.company.payment.visa}}</h4>
                        <button class="btn btn-login btn-edit">Edit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>