
    <div class="col-sm-12 col-md-12 col-lg-12" style=" margin-top: 32px !important;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventTitle">Technically Philly</div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventSubTitle">
                    Technically Philly Meetup April 2017
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-time glyphicon-align-theme-color"></span>
                    Saturday, April 13 at 8:00 pm - 9:30 pm
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-map-marker glyphicon-align-theme-color"></span>
                    Apple Store
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-calendar glyphicon-align-theme-color"></span>
                    This is a bi-weekly social event where you
                    can meet others who have same passion as you!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventEditBtn">
                    Edit
                </div>

            </div>
        </div>
    </div>


