<div class="col-sm-9 col-md-9 col-lg-9">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" style="padding-right:0px">
            <div class="btn-edit btn-live" ng-click="showAll=true" ng-class="{'btn-login':showAll,'btn-login-inactive':!showAll}" style="width:100%">All</div>
            <!--<button class="btn btn-primary btn-l">All</button>-->

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-right:0px">
            <div class="btn-edit btn-live" ng-click="showAll=false" ng-class="{'btn-login':!showAll,'btn-login-inactive':showAll}" style="width:100%">Aligned</div>
            <!--<button class="btn btn-primary btn-l">Aligned</button>--> 

        </div>
    </div>
    <div class="row fivecolumns" ng-show="showAll">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>            
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div> 
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div> 
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>
    </div>
    <div class="row fivecolumns" ng-show="showAll" style="margin-top:40px">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>
    </div>


    <div class="row fivecolumns" ng-show="!showAll">

        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 alignA">
            <img src="../../Images/alignA.PNG" />
        </div>
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 alignA"></div>

        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 alignA">
            <img src="../../Images/alignA.PNG" />
        </div>
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>
    </div>
    <div class="row fivecolumns" ng-show="!showAll" style="margin-top:40px">
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 alignA">
            <img src="../../Images/alignA.PNG" />
        </div>

        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 alignA"></div>

        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/ashish.jpg" />
            <div class="userInfo">
                <h3>Ashish Sharma</h3>
                <p>Software Developer</p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 alignA">
            <img src="../../Images/alignA.PNG" />
        </div>

        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

            <img class="img-circle box-shad img-responsive" src="../../Images/paras.jpg" />
            <div class="userInfo">
                <h3>Paras Paul</h3>
                <p>Software Developer</p>
            </div>
        </div>
    </div>


</div>
