<div class="col-sm-9 col-md-9 col-lg-9">
    <!--<div class="row">
        
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="label" style="font-size: x-large; background-color: #ffc00e; ">Are you sure you want to logout?</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="btn btn-default">Yes</div>
            <div class="btn btn-default">No</div> 
        </div>
    </div>-->

    <div class="container-fluid">

            <div class="jumbotron" style="background-color: #fff; ">
                <div class="text-center" style="font-size: xx-large;">
                    Are you sure you want to logout?
                </div>
                <div class="text-center" style="margin-top: 15px; font-size: large;">
                    
                    <div ng-click="logout()" style="margin-right: 5px; background-color: #ffc00e; border-color: #ffc00e; " class="btn btn-info glyphicon glyphicon-ok">
                        <span style="font-family: 'Open Sans'">Yes</span>
</div>
                     <div ng-click="redirectToHome()" style="background-color: #ffc00e; border-color: #ffc00e; " class="btn btn-info glyphicon glyphicon-remove">
                         <span style="font-family: 'Open Sans'">No</span>
                     </div>

                </div>


        
        </div>
            
        </div>

    </div>

