
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group form-group-custom">
                <label for="email3">Email Address*</label>
                <input type="email" id="email3"
                       ng-model="signUpForm.companyAccount.mail" class="form-control inputField" name="email3"
                       required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group form-group-custom">
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="signUpForm.companyAccount.pwd"
                       ng-minlength="8"
                       ng-maxlength="24" class="form-control inputField"
                       ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                       required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group form-group-custom">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" ng-model="user.confirmPassword"
                       class="form-control inputField"
                       confirm-password="signUpForm.companyAccount.pwd"
                       required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group ">                
                <button type="submit" ng-disabled="signUpBtnDisabled" class="btn btn-login" style=" border-radius: 30px; font-size: x-large;"><span class="glyphicon glyphicon-check"></span> {{signUpBtnText}}</button>
            </div>
        </div>
    </div>
